/* filepath: c:\proyectos\dataProyectgrado\CARDIOSALINA_V2-1\Juegos.Serios.Monolith.Backoffice.Frontend\src\app\pages\home\home.component.scss */
.home-container {
    text-align: center;
    margin: 20px;
  }
  
  .menu {
    margin-top: 20px;
    display: inline-block;
  }